# Secrets
**/.env
**/*.pem

# Output
**/output

# Node
**/node_modules
**/build

# Python
**/__pycache__
**/.venv/
**/.pytest_cache/
**/.coverage
**/airflow
**/.ruff_cache/

# Rust
**/target/

# Mac
**/.DS_Store

# SSR
**/__sapper__
**/.next
**/.nuxt

