# Secrets
**/.env
**/*.pem

# Node
**/node_modules
**/build

# Python
**/__pycache__
**/.venv/
**/.pytest_cache/
**/.coverage

# Rust
**/target/

# vscode
**/.vscode/

# Mac
**/.DS_Store

# SSR
**/__sapper__
**/.next
**/.nuxt

