# secrets
**/.env
**/*.pem

# npm
**/node_modules/
**/build

# vscode
**/.vscode/

# mac
**/.DS_Store

# ssr
**/__sapper__
**/.next
**/.nuxt

# old / unused notes
**/zzz*/

# python
**/__pycache__

# rust
**/target/
