go 1.21

use (
	./go/core/basics
	./go/core/cobra
	./go/core/concurrency
	./go/core/generics
	./go/core/lo
	./go/core/option
	./go/core/standard-packages
	./go/core/structures
	./go/data/golearn-notes
	./go/data/gonum-notes
	./go/data/gota-notes
	./go/db/gorm-example
	./go/db/mongo-example
	./go/db/pg-example
	./go/db/redis-example
	./go/db/squirrel-example
	./go/testing/gomega-notes
	./go/utils/carbon-notes
	./go/utils/gift-notes
	./go/utils/govalidator-notes
	./go/utils/resty-notes
	./go/utils/sling-notes
	./go/web/atreugo
	./go/web/fasthttp
	./go/web/gin
	./go/web/gorilla
)
