go 1.18

use (
	./core/basics
	./core/cobra
	./core/concurrency
	./core/generics
	./core/lo
	./core/standard-packages
	./core/structures
	./data/gota-notes
	./data/gonum-notes
	./db/gorm-example
	./db/mongo-example
	./db/pg-example
	./db/redis-example
	./db/squirrel-example
	./testing/gomega-notes
	./web/atreugo
	./web/fasthttp
	./web/gin
	./web/gorilla
)
